---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>About</title>
	</head>
	<body>

        <a href="/">Home</a>
        <a href="/about/">About</a>
        <a href="/blog/">Blog</a>

		<h1>ABOUT ME</h1>
        <h2>Hi there 👋 </h2>
        
        <p>
            My name is <strong>Fume Uvwie</strong>.
            I’m a creative developer who enjoys using code to solve problems, build solutions, and visualize ideas. 
            I love learning, and experimenting with new frameworks and technoglogies like React, and now Astro. 
            I'm currently on a journey to build visually engaging, immersive, and interactive experiences on the web 
            through a combination of Code, Design, and Animation.
        </p>

	</body>
</html>
