---
// Import Layout for the Page
import BaseLayout from '../layouts/BaseLayout.astro';


// Import React Component
import Greeting from '../components/Greeting.jsx'


// Declare Variables
const pageTitle = "Home Page";
---

<BaseLayout pageTitle={pageTitle}>
  <h2>My awesome blog subtitle</h2>
  <Greeting messages={["Hi", "Hello", "Howdy", "Hey there"]} />
  <Greeting client:load messages={["Hej", "Hallo", "Hola", "Habari"]}/>
</BaseLayout>







