---
// Import Component
import Social from './Social.astro';

const socials = [
    ['linkedIn', "/in/fumeuvwie/"],
    ['youtube', "/@FumezCreates"],
    ['github', "/fumzy123" ]
]



---
<!-- Pass Server side variables to component front-matter 
    to client scrpt tags. -->
<script define:vars={{socials}}>
    console.log(socials);
    console.log("Hi");
</script>

<style>
    .social-links {

        /** Box Model **/
        margin-top: 2rem;
        
        /** Layout  **/
        display: flex;
        gap: 2rem;

        /**  **/
        background: --var(--cordovan);

    }
</style>


<footer>
    
   <div class="social-links">
    
        <Social platform='linkedIn' username='/in/fumeuvwie/' />
        <Social platform='youtube' username='/@FumezCreates' />
        <Social platform='github' username='/fumzy123' />
    
    </div>
    
</footer>


