---

// Importing smaller Astro Components
import Social from './Social.astro';

//
const {class: className} = Astro.props;

---

<!-- COMPONENT TEMPLATE | HTML + JS EXPRESSIONS -->



<footer>
    
   <div class=`social-links ${className}`>
    
        <Social platform='linkedIn' username='/in/fumeuvwie/' />
        <Social platform='youtube' username='/@FumezCreates' />
        <Social platform='github' username='/fumzy123' />
    
    </div>
    
</footer>


<style>
    
    .social-links {

        /** Box Model **/
        margin-top: 2rem;

        /** Layout  **/
        display: flex;
        gap: 2rem;

        /**  **/
        background: --var(--cordovan);

    }

</style>

