---

// Import Smaller Component
import Navigation from './Navigation.astro';
import Hamburger from './Hamburger.astro';
import ThemeIcon from './ThemeIcon.astro';


const { class: className } = Astro.props;
---

<header class={className}>

    <nav>
        <Hamburger/>
        <ThemeIcon/>
        <Navigation/>
    </nav>
</header>
