---

// Import Smaller Component
import Navigation from './Navigation.astro';

const { class: className } = Astro.props;
---

<header class={className}>
    <nav>
        <Navigation/>
    </nav>
</header>
