---

---

<div class="nav-links">
    <a href="/">Home</a>
    <a href="/about/">About</a>
    <a href="/blog/">Blog</a>
    <a href="/tags">Tags</a>
</div>

<style>

    /* Light Mode styling  */
    .nav-links {

        /** Box Model **/
        width: 100%;

        /** Background **/
        /* background-color: #f3dfbfff; */

        /** Layout **/
        display: none;

        /** Position */
        /* top: 5rem;
        left: 48px; */
        
    }

    .nav-links a {

        /** Box Model **/
        padding: 10px 0;

        /** Layout **/
        display: block;
        
        /** Typography **/
        color: #17181cff;
        font-size: 1.2rem;
        font-weight: bold;
        text-transform: uppercase;
        text-decoration: none;
        text-align: center;
    }

    /* .nav-links a:hover,
    .nav-links a:focus {
        color: #17181cff;
        background-color: #f3dfbfff;
    } */

    .expanded {
        /* The unset CSS keyword resets a property to its inherited value
            if the property naturally inherits from its parent, and 
            to its initial value if not 
         */
        display: unset;
    }

    /* Dark Mode Styling */
    :global(.dark) .nav-links a { 
        color: #f3dfbfff;

    }
    /* Add Responsiveness to this component */
    @media (min-width: 640px) {
        .nav-links {

            /** Box Model **/
            margin-left: 5em;
            width: auto;

            /** Background **/
            background: none;

            /** Layout */
            display: block;

            /** Position **/
            position: static;
        }

        .nav-links a {
            display: inline-block;
            padding: 15px 20px;
        }
    }

</style>