---
const { platform, username } = Astro.props;
---
<a class="platform" href={`https://www.${platform}.com${username}`}>{platform}</a>

<style>
    .platform {
        /** Box Model **/
        padding: 0.5rem 1rem;
        border-radius: 15px;

        /** Typography */
        color: #f3dfbfff;
        text-decoration: none;

        /** Background  **/
        /* background-color: #f3dfbfff; */

        background-color: #17181cff;
    }
</style>